* {
    box-sizing: border-box;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: linear-gradient(90deg , grey, white);
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color : black;
}

header{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    text-align: center;
    text-decoration: underline;
    font-size: 45px;
    font-weight: 300;
    color: black;
    margin-bottom: 1rem;
}
#new-task-form{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new-task-input{
    flex: 1 1 0%;
    background-color: dimgray;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: white;
    font-size: 1.25rem;
}
#new-task-input::placeholder{
    color: white;
}

#new-task-submit{
    color: rgb(255, 0, 128);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, red,purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.5s;   
}
#new-task-submit:hover{
    opacity: 0.8;
}
#new-task-submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}
.task-list{
    padding: 1rem;
}

.task-list h2{
    font-size: 35px;
    text-decoration: underline;
    font-weight: 300;
    color: black;
    margin-bottom: 1rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
#tasks .task .content{
    flex : 1 1 0%;
}

#tasks .task .content .text {
    color: black;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only){
    color: black;
}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover{
    opacity: 0.8;
}
.task .actions button:active{
    opacity: 0.6;
}
.task .actions .edit{
    background-image: linear-gradient(45deg, darkgreen, darkgreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.task .actions .delete{
   color: crimson;
}
